

<ion-content>
  <ion-header >
    <ion-toolbar  color="primary" >
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/recipes"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-float-left">{{recipe?.title}}</ion-title>
      <ion-buttons  slot="end">
        <ion-button  (click)="alerta(recipe?.id)">
          <ion-icon name="trash-outline" ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-grid class = "ion-no-padding">
      <ion-row class = "ion-no-padding">
        <ion-col class = "ion-no-padding">
          <img src={{recipe?.imageUrl}}>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item *ngFor="let ingrediant of recipe?.ingrediants">
                {{ingrediant}}
            </ion-item>
          </ion-list>
          <app-location-picker></app-location-picker>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
</ion-content>
